{% extends "layouts/auth.html" %}

{% block content %}
<div class="flex flex-col h-[calc(100vh-250px)] justify-center items-center p-8">
    <div class="mb-6">
        <img class="w-64 logo" src="/logo_dark.svg" alt="brand logo">
    </div>
    {% if reset.stage == "show-reset" %}
    <form action="/password-reset" method="post" class="group flex flex-col gap-8 max-w-md bg-white p-8 rounded shadow" novalidate>
      {{ csrf_field|safe }}
        <input type="hidden" name="stage" value="{{reset.stage}}">
        <div class="inline-flex flex-col gap-y-2">
            <h3 class="text-3xl font-bold">
                Forgot Your Password?
            </h3>
            <span class="text-sm"> Enter your e-mail, we will send you a link and instructions to reset your password.</span>
        </div>

        {% for error in errors %}
        <div class="bg-red-50 border border-red-400 rounded p-4 shadow font-medium">
            <p>Error: {{error}}</p>
        </div>
        {% endfor %}

        <div class="flex flex-col gap-2">
            <label class="font-medium" for="email">Email</label>
            <input type="email" value="{{record.email}}" id="email" name="email" placeholder="Enter your email" required class="rounded ring-0 peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 {{conditional_str(validation.email, 'border-red-500', '')}}">
            <span class="mt-2 {{conditional_str(validation.email, '', 'hidden')}} text-xs italic text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                Please enter a valid email address: {{validation.email}}
            </span>
        </div>

        <div
            class="flex flex-col gap-3 items-center"
            data-controller="loading_animation"
            data-action="click->loading_animation#filterEvent"
            data-loading_animation-loading-class="loading">
            <button
                data-loading_animation-target="button"
                type="submit" class="loading-button w-full py-2.5 px-8 inline-flex items-center justify-center text-sm font-semibold rounded text-white  bg-[#333] hover:bg-[#222] focus:ring-0 transition-all group-invalid:pointer-events-none group-invalid:opacity-30">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span class="pointer-events-none">
                    Next
                </span>
            </button>
            <a href="/login" class="text-sm text-blue-500 font-semibold hover:underline ml-1">Back to log in</a>
        </div>
    </form>
  {% elif reset.stage == "email-sent" %}
    <div class="group flex flex-col gap-8 max-w-md bg-white p-8 rounded shadow">
        <div class="text-center flex flex-col gap-8">
            <div class="flex justify-center">
                <span class="bg-teal-50 rounded-full p-4 text-teal-500">
                    <svg class="w-12" viewBox="0 0 24 24" stroke-width="1" fill="none" color="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 9L13.5 12L18 9" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 13.5H5" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1 10.5H5" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 7.5V7C5 5.89543 5.89543 5 7 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H7C5.89543 19 5 18.1046 5 17V16.5" stroke="currentColor" stroke-width="1" stroke-linecap="round"></path>
                    </svg>
                </span>
            </div>
            <h3 class="text-3xl font-bold">
                Check your email
            </h3>
            <div class="space-y-2">
                <p>
                    We sent a password reset link to <span class="font-bold">{{reset.email}}</span>
                </p>
            </div>
        </div>
    </div>
  {% elif reset.stage == "change-password" %}
    <form action="/password-reset/{{reset.session}}" method="post" class="group flex flex-col gap-8 max-w-md bg-white p-8 rounded shadow" novalidate>
      {{ csrf_field|safe }}
        <input type="hidden" name="stage" value="{{reset.stage}}">
        <div class="text-center flex flex-col gap-8">
            <h3 class="text-3xl font-bold">
                Change Password
            </h3>

            <div class="text-start space-y-8">
                <div class="space-y-2">
                    <p>
                        In order to protect your account, make sure your password:
                    </p>

                    <ul class="list-disc">
                        <li class="ml-5">Is longer than <b>10 characters</b></li>
                        <li class="ml-5">Does not match or significantly contain your username, e.g. <b>do not use</b> <em>username123</em></li>
                    </ul>
                </div>

                <div data-controller="inputs_matcher" class="flex flex-col gap-8">
                    <div data-controller="password_visibility" class="flex flex-col gap-2">
                        <label class="font-medium" for="password">New Password</label>
                        <div class="flex flex-col relative">
                            <input data-password_visibility-target="input" data-inputs_matcher-target="source" type="password" name="password" value="{{record.password}}" minlength="10" maxlength="100" required class="w-full rounded peer rounded invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 {{conditional_str(validation.password, 'border-red-500', '')}} focus:ring-0" placeholder="Password">
                            <button data-action="password_visibility#toggle" class="absolute inset-y-0 right-0 pr-4 flex items-center cursor-pointer text-gray-400" type="button">
                                <span data-password_visibility-target="icon">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" fill="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span data-password_visibility-target="icon" class="hidden">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.5 16L17.0248 12.6038" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 17.5V14" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M4.5 16L6.96895 12.6124" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M3 8C6.6 16 17.4 16 21 8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <span class="mt-2 {{conditional_str(validation.password, '', 'hidden')}} text-xs italic text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                        Please enter a valid password. Min length is 10 characters: {{validation.password}}
                        </span>
                    </div>
                    <div data-controller="password_visibility" class="flex flex-col gap-2">
                        <label class="font-medium" for="confirm_password">Confirm New Password</label>
                        <div class="flex flex-col relative">
                            <input data-password_visibility-target="input" data-inputs_matcher-target="copy" type="password" name="confirm_password" value="{{record.confirm_password}}" required class="w-full peer rounded invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 {{conditional_str(validation.confirm_password, 'border-red-500', '')}} focus:ring-0" placeholder="Confirm password">
                            <button data-action="password_visibility#toggle" class="absolute inset-y-0 right-0 pr-4 flex items-center cursor-pointer text-gray-400" type="button">
                                <span data-password_visibility-target="icon">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" fill="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span data-password_visibility-target="icon" class="hidden">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.5 16L17.0248 12.6038" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 17.5V14" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M4.5 16L6.96895 12.6124" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M3 8C6.6 16 17.4 16 21 8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <span class="mt-2 {{conditional_str(validation.confirm_password, '', 'hidden')}} text-xs italic text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                            Please make sure it matches your password: {{validation.confirm_password}}
                        </span>
                    </div>
                    <div
                        data-controller="loading_animation"
                        data-action="click->loading_animation#filterEvent"
                        data-loading_animation-loading-class="loading">
                        <button
                            data-loading_animation-target="button"
                            type="submit" class="loading-button w-full py-2.5 px-8 inline-flex items-center justify-center text-sm font-semibold rounded text-white  bg-[#333] hover:bg-[#222] focus:outline-none  transition-all group-invalid:pointer-events-none group-invalid:opacity-30">
                            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <span class="pointer-events-none">
                                Change Password
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
  {% elif reset.stage == 'password-changed'%}
    <div class="group flex flex-col gap-8 max-w-md bg-white p-8 rounded shadow">
        <div class="text-center flex flex-col gap-8">
            <div class="flex justify-center">
                <span class="bg-teal-50 rounded-full p-4 text-teal-500">
                    <svg class="w-12" viewBox="0 0 24 24" stroke-width="1" fill="none" color="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 12.5L10 15.5L17 8.5" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>
            <h3 class="text-3xl font-bold">
                Password Reset
            </h3>
            <div class="space-y-2">
                <p>
                    Your password was successfully reset.
                </p>
                <p class="text-sm">
                    Click below to sing in.
                </p>
            </div>
            <div>
                <a href="/login" class="loading-button w-full py-2.5 px-8 inline-flex items-center justify-center text-sm font-semibold rounded text-white  bg-teal-500 hover:bg-teal-700 focus:outline-none  transition-all group-invalid:pointer-events-none group-invalid:opacity-30">
                    <span>Sign in</span>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="group flex flex-col gap-8 max-w-md bg-white p-8 rounded shadow">
        <div class="text-center flex flex-col gap-8">
            <div class="flex justify-center">
                <span class="bg-orange-50 rounded-full p-4 text-orange-500">
                    <svg class="w-12" viewBox="0 0 24 24" stroke-width="1" fill="none" color="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 7L12 13" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 17.01L12.01 16.9989" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>
            <h3 class="text-3xl font-bold">
                Unknown Request
            </h3>
            <div class="space-y-2">
                <p>
                    We were unable to find a valid password request with this identifier.
                </p>
                <p>
                    Request a new <a href="/password-reset" class="text-sm text-blue-500 font-semibold hover:underline ml-1">password reset</a>.
                </p>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
